@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Roboto&family=Secular+One&family=Source+Code+Pro:wght@300&display=swap');
@font-face {
    font-family: Comic;
    src: url(../assets/ComicBook.otf);
}

/*

Black #202020

Blue Grotto #1181C8

White #F2F0FC

Red #FF0000

*/

/*HTML*/

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1000px;
    background-image: url(../images/background.jpg);
    background-size: 100%;
}

header {
    background-color: #202020;
}

main {
    background-color: #F2F0FC;
    text-align: justify;
}

article {
    margin: 0 20px 10px 20px;
}

/* Menú */

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #202020;
}

nav ul li {
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Bitter', sans-serif;
}

nav ul li a {
    color: #F2F0FC;
}

h1 {
    background-color: #202020;
    text-align: center;
    text-decoration: none;
    font-size: 60px;
    font-family: 'Secular One', sans-serif;
    font-weight: 60px;
}

h1 a {
    color: #F2F0FC;
}

h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Bitter', serif;
    text-align: center;
    clear: both;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

a:link {
    text-decoration: none;
}

.worlds {
    font-family: 'Roboto', sans-serif;
}

.photo {
    width: 100%;
}

/* Compare */

figure img {
    float: left;
    width: 160px;
    margin: 0 10px 0 0;
}

figure {
    margin: auto;
}

/* Table power */

.power {
    width: 100%;
    border: 1px solid #202020;
    font-family: 'Roboto', sans-serif;
}

.power tr th, .power tr td{
    width: 25%;
    text-align: justify;
    vertical-align: middle;
    border: 1px solid #202020;
    border-spacing: 0;
}

/* Gallery */

.galeria {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 478px;
    padding: 10px;
}

.galeria div img {
    width: auto;
    height: 150px;
}

footer {
    font-family: 'Source Code Pro', monospace;
    background-color: whitesmoke;
    padding: 2px;
}