


/* HTML */

body {
    margin: 0 auto;
    width: 1000px;
    background-image: url(../images/background.jpg);
    background-size: 100%;
}

header {
    background-color: whitesmoke;
}

main {
    background-color: whitesmoke;
    padding: 20px;    
}

/* Marvel Universe */

h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Secular One', sans-serif;
    font-weight: 60px;
}

h2 {
    font-family: 'Secular One', sans-serif;
    font-size: 25px;
}

h3 {
    font-family: 'Bitter', serif;
    text-align: center;
    padding: 50px 0 0 0;
}

p {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

a {
    text-decoration: none;
}

.menu {
    justify-content: space-between;
    list-style: none;
    font-size: 38px;
    font-family: 'Bitter', serif;
}

.worlds {
    font-family: 'Roboto', sans-serif;
}

.photo {
    width: 100%;
}

/* Compare */

.right {
    float: right;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 250px;
}

.left {
    float: left;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 250px;
}

/* Power */

.power {
    border: 2px solid red;
}

/* Footer */

footer {
    font-family: 'Source Code Pro', monospace;
    padding: 10px;
    margin: 80px 0 0 0;
    background-color: whitesmoke;
}